* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home-body {
    /* height: 100vh; */
    width: 80%;
    margin: auto;
    /* border: 1px solid #000; */
}

.body-title {
    height: 12vh;
    width: 100%;
    /* border: 1px solid #000; */
    display: flex;
}

.page-title {
    position: relative;
    height: 100%;
    width: 50%;
    /* border: 1px solid #000; */
    display: flex;
    align-items: center;
    justify-content: center;
    color: lightblue;
}

.add-div {
    height: 100%;
    width: 50%;
    /* border: 1px solid #000; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.new-category-button {
    height: 5vh;
    width: 40%;
    color: white;
    background-color: lightgreen;
    border: none;
    font-size: 1.1em;
    border-radius: 10px;
}

.model-div {
    /* height: 60vh; */
    width: 25%;
    border: 1px solid #000;
    position: absolute;
    margin: auto;
    top: 20%;
    left: 35%;
    border-radius: 10px;
    box-shadow: 2px 2px gainsboro;
    background-color: white;
    box-sizing: border-box;
}

.model-div-title {
    text-align: center;
}

.model-span {
    position: absolute;
    top: 5px;
    right: 5px;
    font-weight: 600;
    cursor: pointer;
}

.model-div-label {
    font-size: medium;
    margin-bottom: 2%;
    margin-left: 4%;
}

.model-div-input {
    height: 5vh;
    width: 90%;
    margin-left: 5%;
}

.model-div-select {
    margin: 5%;
}

.model-div-file-input {
    margin: 5%;

}

.model-div-button {
    height: 5vh;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 5%;
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
    .new-category-button {
        font-size: 0.7em;
        width: 60%;

    }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .new-category-button {
        font-size: 0.6em;
        width: 80%;
        height: 20px;
    }

    .page-title {
        font-size: 10px;
    }

    .model-div-title {
        font-size: 0.8em;
    }

    .model-div {
        width: 50%;
        left: 25%;
        height: 27vh;
    }

    .model-div-label {
        font-size: small;
    }

    .model-div-input {
        height: 20px;
        width: 85%;
        margin-left: 4.5%;
    }

    .model-span {
        font-size: x-small;
    }

    .model-div-select {
        margin: 3% 4%;
    }

    select {
        width: 60px;
        font-size: 14px;
    }

    select option {
        font-size: 8px;
        /* Adjust font size for options */
        padding: 1px;
        /* Adjust padding for options */
    }

    .model-div-file-input {
        margin: 2% 4%;
        height: 20px;
        width: 80%;
        font-size: xx-small;
    }

    .model-div-button {
        height: 18px;
        width: 85%;
        margin-left: 5%;
        margin-bottom: 5%;
        border: 1px solid black;
        font-size: smaller;
    }

    .model-div-option {
        font-size: small;
        width: 80%;
    }

}